
.message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha as mensagens à esquerda */
    width: 100%; /* Garante que a lista de mensagens ocupe toda a largura disponível */
}

.message-item {
    background-color: rgba(255, 255, 255); /* Cor do balão */
    border-radius: 20px; /* Bordas arredondadas para o balão */
    margin-bottom: 10px;
    padding: 10px;
    color: #2c549e;
    position: relative; /* Necessário para o posicionamento do "bico" */
    width: auto; /* Ajusta a largura automaticamente ao conteúdo */
    word-wrap: break-word; /* Garante quebra de palavras longas */
    white-space: normal; /* Permite que o texto quebre em múltiplas linhas */
    line-height: 1.5; /* Melhor legibilidade */
}

.message-item p {
    margin: 0; /* Remove margens extras em torno do parágrafo */
    word-wrap: break-word; /* Garante a quebra de palavras longas */
}

.message-item::after {
    content: "";
    position: absolute;
    top: 15px; /* Posiciona o "bico" na parte superior */
    left: -9px; /* Ajusta o "bico" para o lado esquerdo */
    width: 10;
    height: 10;
    border-top: 10px solid transparent; /* Cria a base do triângulo */
    border-bottom: 10px solid transparent; /* Cria a base do triângulo */
    border-right: 11px solid rgba(255, 255, 255); /* Cor do balão, simula o bico */
}

.message-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px; /* Avatar fora da mensagem */
}

.message-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.message-username {
    font-size: 1rem;
    font-weight: bold;
}

.message-timestamp {
    font-size: 0.8rem;
    color: #8bb7ff;
    padding: 0 15px;
}

.message-body {
    margin-top: 5px;
    padding-left: 5px; /* Avatar dentro da mensagem */
    padding-right: 5px; /* Avatar dentro da mensagem */
}

.message-date {
    text-align: center;
    color: #7caaff;
    font-size: 1rem;
    margin: 20px 0 10px 0;
}

.input-section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center; /* Alinha os itens verticalmente */
    background-color: rgba(255, 255, 255);
    height: 50px; /* Aumenta a altura da seção do input */
    border-top: 0px solid #ddd;
    z-index: 10;
    color: #7eabff;
    padding: 15px; /* Ajusta o padding para maior espaçamento */
}

.input-section input {
    flex: 1;
    margin-right: 10px;
    border-radius: 10px; /* Alinha com as bordas arredondadas das mensagens */
    padding: 15px; /* Aumenta o padding para deixar o input mais "gordinho" */
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Borda similar à das mensagens */
    height: 50px; /* Aumenta a altura do input */
    color: #7eabff;
    background-color: rgba(255, 255, 255, 0.6); /* Adiciona uma leve transparência no fundo */
}

.input-section button {
    background-color: #7eabff;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 45px; /* Tamanho consistente */
    height: 45px; /* Tamanho consistente */
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
    color: white;

}

.no-messages {
    text-align: center;
    color: #7eabff;
    font-size: 1.2em;
    margin-top: 20px;
}

.emoji-picker {
    position: absolute;
    bottom: 60px;
    left: 20px;
    z-index: 1000;
}

.emoji-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    color: #7eabff;
}
